// Global rules

// body {
//   background:#080c19;
// }

@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu-Italic.otf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu-Bold.otf);
    font-weight: bold;
}
body{
  font-family: Ubuntu,sans-serif,monospace;
}
$navbg:#080c19;

.spacesection {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.nav-link.active{
  color: #e03114 !important;
}

.padsection {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.maincontent {
  min-height: 80vh;
}

.bandvideos {
  background: lighten($navbg, 5%);
  color: white;
}

.Pagination {
  background: lighten($navbg, 5%);
}

.btn-orange {
    background-color: #e03114;
    background-image: none;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    color: white;
    font-size: 18px;
    padding: 20px 50px;
}
