// Global rules

// body {
//   background:#080c19;
// }
$navbg:#080c19;

.spacesection {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.nav-link.active{
  color: #e03114 !important;
}

.padsection {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.maincontent {
  min-height: 80vh;
}

.bandvideos {
  background: $navbg;
  color: white;
}

.btn-orange {
    background-color: #e03114;
    background-image: none;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    color: white;
    font-size: 18px;
    padding: 20px 50px;
}
